apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - host: <app-domain>
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: hackathon081125
            port:
              number: 80
